body {
	text-align: center;
	background: linear-gradient(to right, red, yellow);
}



h1 {
	letter-spacing: 10px;
	margin-bottom: 50px;
	font-size: 40px;
	color: black;
}

button {
	background: white;
	border: 2px solid white;
	border-radius: 5px;
	font-size: 20px;
	padding: 20px 20px;
}

audio {
	display: none;
}